@import "responsive";
@import "modularscale-sass/stylesheets/modular-scale";

$ms-base:  1rem;
$ms-ratio: $minor-third;

body    { font-size: ms(0); line-height: 1.40; }
h5, .h5 { font-size: ms(1); line-height: 1.40; }
h4, .h4 { font-size: ms(2); line-height: 1.35; }
h3, .h3 { font-size: ms(3); line-height: 1.30; }
h2, .h2 { font-size: ms(4); line-height: 1.25; }
h1, .h1 { font-size: ms(5); line-height: 1.20; }

@keyframes fade-in {
  0%    { opacity: 0; }
  25%   { opacity: 0; }
  50%   { opacity: 0; }
  75%   { opacity: 0; }
  100%  { opacity: 1; }
}

* {
  box-sizing: border-box;
}

a {
  color:           #4e9dd3;
  text-decoration: none;
}

html {
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@media screen and (min-width: 400px)  { html { font-size: 16px } }
@media screen and (min-width: 500px)  { html { font-size: 17px } }
@media screen and (min-width: 600px)  { html { font-size: 18px } }
@media screen and (min-width: 700px)  { html { font-size: 19px } }
@media screen and (min-width: 800px)  { html { font-size: 20px } }
@media screen and (min-width: 900px)  { html { font-size: 21px } }
@media screen and (min-width: 1000px) { html { font-size: 22px } }

body {
  animation-name:     fade-in;
  animation-duration: 0.3s;
  background-color:   hsl(0, 0%, 99%);
  color:              hsl(0, 0%, 10%);
}

body > header {
  font-size: 0.9rem;
}

body > section {
  margin: 5em 0;
}

body > footer {
  .avatar img {
    width:          7.5em;
    height:         7.5em;
    max-width:      7.5em;
    max-height:     7.5em;
    border-radius:  50%;
    vertical-align: middle;
  }

  .name {
    margin-top: 0.5rem;
  }

  .links {
    font-size:     0.65rem;
    margin-bottom: 3rem;
  }

  .links a {
    margin: 0 0.3em;
  }
}

section > footer {
  margin: 5em 0;
}

.post {
  margin: 7rem 0;

  &:first-of-type { margin-top:    0; }
  &:last-of-type  { margin-bottom: 0; }
}

.post > *:not(.highlight),
.archives {
  margin-left: auto;
  margin-right: auto;

  width: 92vw;
  max-width: 30rem;
}

.post .highlight {
  padding-top:      1em;
  padding-bottom:   1em;
  padding-right:    1em;
  padding-left: 4%;
  background-color: hsl(0, 0%, 97%);
  overflow-x: scroll;
}

@media screen and (min-width: 555px) {
  .post .highlight {
    padding-left: calc((100vw - 30rem) / 2);
  }
}

.post .highlight + .footnotes {
  margin-top: 1.5em;
}

.post .title {
  margin-bottom: 0.2em;
}

.post .title a {
  text-decoration: none;
  color:           inherit;
}

.post .date {
  margin-top: -0.25em;
  font-size:  0.8rem;
  color:      hsl(0, 0%, 50%);
  display:    block;
}

.post {
  p, span, hr,
  ul, ol, dl {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  h1, h2, h3, h4, h5, h6 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  pre {
    margin: 0;
  }

  code {
    background-color: hsl(0, 0%, 97%);
  }

  p code {
    padding:          0.14em 0.28em;
    background-color: hsl(0, 0%, 96%);
  }

  pre,
  code {
    font-family: "inconsolata", monospace;
  }
}

.post > hr {
  padding: 0;
}

.post .footnotes hr {
  margin: 0;
  width:  20%;
}

.archives {
  @media screen and (min-width: 800px) {
    .archive-group {
      position: relative;
    }

    .group-name {
      position: absolute;
      left:     -3.5em;
    }
  }

  .group-name {
    color: hsl(0, 0%, 50%);
  }

  .archive-group > .group-contents {
    margin: 1em 0;

    li {
      margin:      0.4em 0;
      line-height: 1.25;
    }
  }
}

.pagination {
  position:    fixed;
  top:         50%;
  transform:   translateY(-50%);
  width:       4rem;
  overflow:    hidden;
  white-space: nowrap;
  color:       inherit;
  opacity:     0.1;
  display: none;

  transition: width 0.20s ease,
              opacity 0.25s ease;
}

@media screen and (min-width: 750px) {
  .pagination {
    display: block;
  }
}

.pagination {
  &:hover {
    width:   13.6rem;
    opacity: 1.0;
  }

  &.hidden {
    opacity: 0;
  }

  &.newer {
    left: 5px;

    .title {
      margin-left: -0.4rem;
      text-align:  left;
    }
  }

  &.older {
    right:     5px;
    direction: rtl;

    .title {
      margin-right: -0.4rem;
      text-align:   right;
    }
  }

  .icon {
    width:          4.5rem;
    vertical-align: middle;
  }

  .title {
    width:          9rem;
    white-space:    normal;
    vertical-align: middle;
    margin-top:     0.4em;
    display: none;
  }
}

@media screen and (min-width: 1300px) {
  .pagination .title {
    display: inline-block;
  }
}
