.lw-widget {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 320px;
  height: 100%;
  font-size: 18px;
  line-height: 1.3333;
  transition: background .2s .2s;
  pointer-events: none;
  overflow: auto;
  z-index: 7777777;
  --theme-color: #F65500;
}

.lw-widget,
.lw-widget *,
.lw-widget *:before,
.lw-widget *:after {
  box-sizing: border-box;
}

.lw-widget input[type="text"],
.lw-widget input[type="email"],
.lw-widget input[type="tel"],
.lw-widget textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.lw-widget input[type="submit"],
.lw-widget button {
  margin: 0;
  cursor: pointer;
}

.lw-widget input[type="submit"]::-moz-focus-inner,
.lw-widget button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.lw-widget textarea {
  overflow: auto;
}

.lw-widget div, .lw-widget input, .lw-widget textarea, .lw-widget select, .lw-widget button,
.lw-widget h1, .lw-widget h2, .lw-widget h3, .lw-widget h4, .lw-widget h5, .lw-widget h6, .lw-widget a, .lw-widget span, .lw-widget a:focus {
  outline: none;
}

.lw-widget a {
  text-decoration: none;
}

.lw-widget strong {
  font-weight: 600;
}

.lw-widget button *,
.lw-widget a * {
  pointer-events: none;
}

.lw-widget.lw-open {
  display: -ms-flexbox;
  display: flex;
}

.lw-container {
  width: calc(100% - 30px);
  max-width: 353px;
  margin: auto 15px 15px auto;
  perspective: 100px;
  perspective-origin: 50% 100%;
  pointer-events: all;
}

.lw-item {
  position: relative;
  background: white;
  box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2), 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12);
  border-radius: 6px;
  opacity: 0;
  transform: translate3d(0, 0, -100px);
}

.lw-item_bg {
  background: #F9F9F9;
}

.lw-item_border {
  border-top: 3px solid var(--theme-color);
  border-radius: 3px 3px 6px 6px;
}

.lw-item_shadow_1 {
  box-shadow: 0 4px 24px 0 rgba(37, 38, 94, 0.1);
}

.lw-item_shadow_2 {
  box-shadow: 0 4px 15px 0 rgba(47, 46, 53, 0.15), 0 1px 2px 0 rgba(47, 46, 53, 0.01), 0 2px 3px 1px rgba(47, 46, 53, 0.05);
}

.lw-item_shadow_3 {
  box-shadow: 0 0 1px 0 rgba(71, 75, 86, 0.31), 0 20px 32px 0 rgba(71, 75, 86, 0.15);
}

.lw-item_shadow_4 {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05), 0 2px 10px 0 rgba(0, 0, 0, 0.14), 0 10px 26px 0 rgba(47, 46, 53, 0.3);
}

.lw-item_no_shadow {
  box-shadow: none;
}

.lw-item + .lw-item {
  margin-top: 20px;
}

.lw-item.lw-animate {
  animation: lw-bounce .4s ease-out forwards;
}

.lw-item.lw-animate-reverse {
  animation: lw-bounce .4s ease-out forwards alternate-reverse;
}

.lw-item.lw-visible {
  opacity: 1;
  animation: none;
  -ms-transform: none;
  transform: none;
}

.lw-item:hover .lw-close {
  opacity: .7;
}

.lw-item:hover .lw-close:hover {
  opacity: 1;
}

.lw-close {
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  border: none;
  padding: 5px;
  font-size: 0;
  opacity: 0;
  transition: opacity .2s;
  z-index: 10;
}

.lw-close.visible {
  opacity: .7;
}

.lw-close.visible:hover {
  opacity: 1;
}

.lw-wrap {
  padding: 20px;
}

.lw-wrap_p {
  padding: 30px 20px;
}

.lw-wrap_pb {
  padding: 30px 20px 40px;
}

.lw-wrap_pt {
  padding: 35px 20px 30px;
}

.lw-wrap_pob {
  padding-bottom: 40px;
}

.lw-wrap_psm {
  padding: 15px 20px;
}

.lw-wrap_center {
  text-align: center;
}

.lw-wrap_white {
  background: white;
}

.lw-wrap_tutorial {
  height: 100%;
  padding: 35px 30px;
}

.lw-circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: var(--theme-color);
  border: none;
  font-size: 0;
  color: white;
}

.lw-circle i {
  font-size: 30px;
}

.lw-pic {
  display: block;
  width: 100%;
}

.lw-preview__pic {
  border-radius: 6px 6px 0 0;
}

.lw-category {
  display: inline-block;
  margin-bottom: 10px;
  font-weight: 700;
  color: var(--theme-color);
}

.lw-title {
  margin-bottom: 11px;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.20833;
}

.lw-title_md {
  font-size: 22px;
}

.lw-title_lg {
  font-size: 30px;
  line-height: 1.1;
}

.lw-title_color {
  color: var(--theme-color);
}

.lw-content {
  font-size: 18px;
  color: rgba(47, 46, 53, 0.7);
  line-height: 1.33333;
}

.lw-content p,
.lw-content figure {
  margin: 0;
}

.lw-content p + p,
.lw-content p + figure,
.lw-content figure + p,
.lw-content figure + figure {
  margin: 20px 0 0;
}

.lw-content img {
  display: block;
  width: 100%;
  border-radius: 6px;
}

.lw-content a {
  border-bottom: 1px solid;
  color: rgba(47, 46, 53, 0.7);
  transition: border-color .2s;
}

.lw-content a:hover {
  border-color: transparent;
}

.lw-content_dark {
  color: #2F2E35;
}

.lw-content_dark a {
  color: #2F2E35;
}

.lw-text {
  font-size: 16px;
  color: rgba(47, 46, 53, 0.7);
  line-height: 1.25;
}

.lw-text_center {
  text-align: center;
}

.lw-text a {
  font-weight: 600;
  color: var(--theme-color);
}

.lw-btn {
  display: inline-block;
  padding: 18px 20px;
  background: none;
  border: none;
  font-size: 18px;
  color: rgba(47, 46, 53, 0.7);
  text-align: center;
  line-height: 1.33333;
  transition: background .2s, opacity .2s;
}

.lw-btn:hover {
  background: rgba(0, 0, 0, 0.07);
}

.lw-field__wrap {
  -ms-flex: 0 0 calc(100% - 165px);
  flex: 0 0 calc(100% - 165px);
}

.lw-field__input {
  width: 100%;
  height: 46px;
  padding: 0 15px;
  border: 1px solid #EAEAEA;
  font-size: 18px;
}

.lw-field__input {
  font-weight: 600;
  color: #2F2E35;
}

.lw-field__input::-webkit-input-placeholder {
  font-weight: 400;
  color: rgba(47, 46, 53, 0.7);
}

.lw-field__input:-ms-input-placeholder {
  font-weight: 400;
  color: rgba(47, 46, 53, 0.7);
}

.lw-field__input::placeholder {
  font-weight: 400;
  color: rgba(47, 46, 53, 0.7);
}

.lw-field__input_clear {
  background: none;
  border: none;
}

.lw-user {
  display: -ms-flexbox;
  display: flex;
  padding: 18px 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}

.lw-user__preview {
  position: relative;
  height: 45px;
  margin-right: 12px;
  -ms-flex: 0 0 45px;
  flex: 0 0 45px;
}

.lw-user__pic {
  border-radius: 50%;
}

.lw-user__wrap {
  display: -ms-flexbox;
  display: flex;
  min-height: 45px;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
}

.lw-user__name, .lw-user__text {
  font-size: 16px;
  line-height: 1.375;
}

.lw-user__name {
  font-weight: 600;
}

.lw-user__text {
  color: rgba(47, 46, 53, 0.7);
}

.lw-subscribe {
  display: -ms-flexbox;
  display: flex;
  background: white;
  box-shadow: 0 3px 5px 0 rgba(37, 39, 44, 0.05), 0 1px 3px 0 rgba(37, 39, 44, 0.06);
  border-radius: 4px;
}

.lw-subscribe__field {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.lw-subscribe__btn {
  position: relative;
  height: 46px;
  padding: 10px 15px;
  border-radius: 0 4px 4px 0;
  font-weight: 600;
  color: var(--theme-color);
}

.lw-subscribe__btn:before {
  content: '';
  position: absolute;
  top: 8px;
  left: 0;
  bottom: 8px;
  width: 1px;
  background: rgba(0, 0, 0, 0.06);
}

.lw-item:hover .lw-hide {
  max-height: 500px;
  opacity: 1;
}

.lw-hide {
  max-height: 0;
  opacity: 0;
  transition: max-height .6s, opacity .6s;
  overflow: hidden;
}

.lw-hide .lw-wrap {
  padding-top: 0;
}

.lw-hide .lw-btn {
  transform: translate3d(0, 0, 0);
}

.lw-mb-def {
  margin-bottom: 21px;
}

@keyframes lw-bounce {
  0 {
    opacity: 0;
    transform: translate3d(0, 0, -100px);
  }
  50% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(0, 0, 2px);
  }
  70%,
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@media only screen and (max-width: 1023px) {

  .lw-widget {
    pointer-events: all;
  }

  .lw-close {
    opacity: 1;
  }

  .lw-tablet-hide {
    display: none !important;
  }
}

@media only screen and (max-width: 767px) {

  .lw-container {
    width: calc(100% - 20px);
    margin: auto 10px 10px auto;
  }

  .lw-mobile-hide {
    display: none !important;
  }
}
