---
---

@import "modular-scale";
@import "responsive";
@import "normalize";
@import "github";
@import "utilities";

* {
  box-sizing: border-box;
}

a {
  color: #4e9dd3;
}

html {
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;

  @include responsive("font-size", 14px,
    (
      400px:  16px,
      500px:  17px,
      600px:  18px,
      700px:  19px,
      800px:  20px,
      900px:  21px,
      1000px: 22px
    )
  );
}

body {
  background-color: hsl(0, 0%, 99%);
  color:            hsl(0, 0%, 10%);
}

body > header {
  font-size: 0.9rem;
}

body > section {
  margin: 5em 0;
}

body > footer {
  .avatar img {
    width:          7.5em;
    height:         7.5em;
    max-width:      7.5em;
    max-height:     7.5em;
    border-radius:  50%;
    vertical-align: middle;
  }

  .name {
    margin-top: 0.5rem;
  }

  .links {
    font-size:     0.65rem;
    margin-bottom: 3rem;
  }

  .links a {
    margin: 0 0.3em;
  }
}

section > footer {
  margin: 5em 0;
}

.post {
  margin: 7rem 0;

  &:first-of-type { margin-top:    0; }
  &:last-of-type  { margin-bottom: 0; }
}

.post > *,
.archives {
  @include responsive("padding-left" "padding-right", 3%,
    (
      400px:  5%,
      500px:  8%,
      600px:  11%,
      700px:  14%,
      800px:  16%,
      900px:  18%,
      1000px: 20%,
      1100px: 22%,
      1200px: 24%,
      1300px: 26%,
      1400px: 28%,
      1500px: 29%,
      1600px: 30%,
      1700px: 31%,
      1800px: 32%,
      1900px: 33%
    )
  );
}

.post .highlight {
  padding-top:      1em;
  padding-bottom:   1em;
  padding-right:    1em;
  background-color: hsl(0, 0%, 97%);
}

.post .highlight + .footnotes {
  margin-top: 1.5em;
}

.post .title {
  margin-bottom: 0.2em;
}

.post .title a {
  text-decoration: none;
  color:           inherit;
}

.post .date {
  margin-top: -0.25em;
  font-size:  0.8rem;
  color:      hsl(0, 0%, 50%);
  display:    block;
}

.post {
  p, span, hr,
  ul, ol, dl {
    margin: 1em 0;
  }

  h1, h2, h3, h4, h5, h6 {
    margin: 0.5em 0;
  }

  pre {
    margin: 0;
  }

  code {
    background-color: hsl(0, 0%, 97%);
  }

  pre,
  code {
    font-family: "inconsolata", monospace;
  }
}

.post > hr {
  padding: 0;

  @include responsive("margin-left" "margin-right", 3%,
    (
      400px:  5%,
      500px:  8%,
      600px:  11%,
      700px:  14%,
      800px:  16%,
      900px:  18%,
      1000px: 20%,
      1100px: 22%,
      1200px: 24%,
      1300px: 26%,
      1400px: 28%,
      1500px: 29%,
      1600px: 30%,
      1700px: 31%,
      1800px: 32%,
      1900px: 33%
    )
  );
}

.post .footnotes hr {
  margin: 0;
  width:  20%;
}
