body {
  font-family: Helvetica, sans-serif;
  font-size:   20px;
  line-height: 1.6;
  background-color: #fdfdfd;
}

a {
  text-decoration: none;
  border-bottom:   1px dotted #777777;
  color:           #777777;
}

abbr { border-bottom: 1px dashed; }

body > header {
  text-align: center;
  font-size:  15px;
  color:      #888888;
}

body > section,
body > aside {
  width:  660px;
  margin: 120px auto;
}

body > aside {
  margin-top: 80px;
  font-size:  15px;
}

.content { margin-top: 30px; }

.post {
  position:       relative;
  margin-bottom:  80px;
  padding-bottom: 80px;
  border-bottom:  1px solid #cccccc;
}

.post:last-child {
  margin-bottom:  0px;
  padding-bottom: 0px;
  border-bottom:  none;
}

.post h1 {
  margin:    0px;
  font-size: 40px;
}

.post h1 a {
  text-decoration: none;
  border:          none;
  color:           #000000;
}

.post dl dt {
  margin:      20px 0px 0px 0px;
  font-family: sans-serif;
  font-size:   22px;
  font-weight: bold;
}

.post dl dd { margin: 10px 0px; }

.post sup {
  font-size:      smaller;
  vertical-align: super;
}

.post .footnotes { font-size: 15px; }

.post .footnotes:before {
  width:       100px;
  margin-top:  10px;
  padding-top: 20px;
  content:     '';
  border-top:  1px solid #cccccc;
  display:     block;
}

.date {
  font-size:  17px;
  font-style: italic;
  color:      #888888;
  float:      right;
}

footer {
  margin-top:  30px;
  padding-top: 30px;
  border-top:  1px solid #cccccc;
  text-align:  center;
}

footer p { margin: 0px; }

p code {
  padding:          2px 5px;
  background-color: #EEEEEE;
  border:           1px solid #CCCCCC;
  border-radius:    4px;
}

a code { color: #000000; }

.highlight {
  margin-bottom: 20px;
  padding:       10px;
  border:        1px solid #444444;
  min-width:     658px;
  display:       inline-block;
  font-size:     18px;
  overflow:      hidden;
}

/*
  This is a lame hack to get around the fact that you
  can't transition the width property to `auto`.
  http://stackoverflow.com/questions/3311299/webkit-transition-not-working-for-height
*/
.highlight {
  position:           relative;
  z-index:            1;
  max-width:          658px;
  transition:         max-width 0.75s;
  -moz-transition:    max-width 0.75s;
  -webkit-transition: max-width 0.75s;
  -o-transition:      max-width 0.75s;
}
.highlight:hover { max-width: 9999px; }

pre {
  margin:      0px;
  white-space: pre;
  word-wrap:   normal;
}

pre,
code {
  font-family: "Inconsolata", monospace;
}

.twitter-follow-button {
  margin-top:     -3px;
  vertical-align: middle;
}
