<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1.0, width=device-width">

  <title>{{ page.title }}</title>

  <link rel="stylesheet" href="/assets/application.css">

  <script src="//use.typekit.net/tdl6czk.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>

  <link rel="alternate" type="application/atom+xml" title="Anti-pattern" href="/feed">
</head>

<body>
  <header>
    <p class="center">
      This is <a href="/">{{ site.name }}</a><span class="show-medium">—thoughts on programming <span class="show-large">and whatnot</span> by <a href="http://brandonweiss.me">Brandon Weiss</a></span>.
    </p>
  </header>

  <section>
    {{ content }}
  </section>

  <footer>
    <div class="avatar center">
      <img src="/assets/avatar.png">
    </div>

    <p class="h3 center name">Brandon Weiss</p>

    <p class="links center">
      <a class="button" href="https://twitter.com/brandon_weiss">@brandon_weiss</a>
      <a class="button" href="mailto:brandon@anti-pattern.com">brandon@anti-pattern.com</a>
      <a class="button" href="/feed">Subscribe</a>
    </p>
  </footer>

  {% include tracking.html %}
</body>
</html>
