<% if newer_post %>
  <% link_to newer_post.url, class: "pagination newer hidden" do %>
    <% strip_whitespace_between_tags do %>
      <%= image_tag "angle-left.svg", class: "icon" %>
      <span class="title"><%= newer_post.title %></span>
    <% end %>
  <% end %>
<% end %>

<% if older_post %>
  <% link_to older_post.url, class: "pagination older hidden" do %>
    <% strip_whitespace_between_tags do %>
      <%= image_tag "angle-right.svg", class: "icon" %>
      <span class="title"><%= older_post.title %></span>
    <% end %>
  <% end %>
<% end %>
