<div class="lw-widget" style="--theme-color: #4e9dd3">
  <div class="lw-container" style="max-width: 370px;">
    <div class="lw-item lw-item_bg lw-item_border">
      <button class="lw-close">
        <%= image_tag "x-circle.svg", class: "icon" %>
      </button>

      <div class="lw-user">
        <div class="lw-user__preview">
          <%= image_tag "avatar.png", class: "lw-user__pic lw-pic" %>
        </div>

        <div class="lw-user__wrap">
          <div class="lw-user__name">
            Brandon Weiss
          </div>

          <div class="lw-user__text">
            Programmer at <strong>Domus</strong>
          </div>
        </div>
      </div>

      <div class="lw-wrap lw-wrap_p">
        <div class="lw-title">
          Get new posts in your inbox
        </div>

        <div class="lw-content lw-mb-def">
          I post a few times a year about programming and whatnot. No spam.
        </div>

        <form class="lw-subscribe" action="https://anti-pattern.us7.list-manage.com/subscribe/post?u=7657d8a97afd5b30db148094e&amp;id=953874d099" method="POST">
          <div class="lw-subscribe_field lw-field">
            <div class="lw-field__wrap">
              <input class="lw-field__input lw-field__input_clear" type="email" name="EMAIL" placeholder="Enter your email" required>
            </div>
          </div>

          <div style="position: absolute; left: -5000px;" aria-hidden="true">
            <input type="text" name="b_7657d8a97afd5b30db148094e_953874d099" tabindex="-1" value="">
          </div>

          <button class="lw-subscribe__btn lw-btn cbutton--effect-boris" type="submit">
            Subscribe
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
